---
#
- name: prepare tomee configuration file
  template:
    src: "tomee-{{ apache_tomee_edition }}-{{ apache_tomee_version}}.xml.j2"
    dest: "{{ apache_tomee_home }}/conf/tomee.xml"

- name: prepare tomee server configuration file
  template:
    src: "server-{{ apache_tomee_edition }}-{{ apache_tomee_version}}.xml.j2"
    dest: "{{ apache_tomee_home }}/conf/server.xml"
